* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-color:#E4E4E4;
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	font-size:12pt;
	height:100%;
	margin:0px;
	padding:0px;
	width:100%;
}

#titleHeader {
	background-image: url("../img/header.png");
	height: 2.5em;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	z-index: 1337; /* Kappa */
	padding: 0.25em;
}

#titleHeader .title {
	text-align: center;
  font-weight: 400;
  color: #fff;
  font-size: 1.2em;
  padding: 0.5em;
  text-shadow: 0 0 0.2em #666;
}
